.registration-card {
    max-width: 800px;
    margin: auto;
    background: radial-gradient(circle at top left, #ffffff 0%, #fffbe6 30%, transparent 70%), linear-gradient(135deg, #fffbe6, #e0f2fe);
    background-blend-mode: screen;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    backdrop-filter: blur(4px);
    color: #000;
}

.form-label {
    font-weight: bold;
    /* font-size: 1.35rem !important;  */
}

.btn-purple {
    background-color: #5e60ce;
    color: #fff;
}

    .btn-purple:hover {
        background-color: #4b4db6;
    }

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 80px;
}

.logo-img {
    width: 120px;
}

.form-control,
.form-select {
    background-color: rgba(255, 255, 255, 0.85);
}

.NoDdl {
    max-width: 110px;
}

.hed {
    font-weight: 700 !important;
}

.Change {
    display: none;
    font-size: 13px;
    margin-top: 4px;
    color: #007bff;
}



        @media (max-width: 768px) {
            .select2-container {
                width: 100% !important;
            }
        }
